{{ define "main" }}
	<main>
        {{ range .Paginator.Pages }}
            <div class="row">
                <a href="{{ .RelPermalink }}">
                    <h3>{{ .Title }}</h3>
                </a>
            </div>
		    <div class="row">
		        <div class="column">
                    {{ range .Params.photos}}
                        <a href="{{ .original }}"><img class="photo-list" src='{{ .thumb }}'></a>
                    {{ end }}
                </div>
            </div>
            <div class="row">
                {{ .Content }}
            </div>
            <div><br></div>
        {{ end }}
		</ul>
	</main>
{{ end }}
